

<!--shiping area start-->
<div class="shipping_area">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="single_shipping">
          <p>

            <img src="assets/img/icon/shipping-icon.png" alt="">
            Livraison à Domicile
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single_shipping">
          <p>
            <img src="assets/img/icon/comment-icon.png" alt="">
            Communication Sociale
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single_shipping">
          <p>
            <img src="assets/img/icon/star-icon.png" alt="">
            Solidarité
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single_shipping">
          <p>
            <img src="assets/img/icon/money-icon.png" alt="">
            Aide Sociale
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="slider_section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8">

        <div class="shop_area shop_reverse">
          <div class="container">
            <!--shop toolbar start-->
            <div class="row">
              <div class="col-12">
                <div class="shop_toolbar">
                  <div class="list_button">
                    <ul class="nav" role="tablist">
                      <li>
                        <a  data-toggle="tab" href="#large" role="tab" aria-controls="large" aria-selected="true"><i class="fa fa-th"></i> Grid</a>
                      </li>
                      <li>
                        <a class="active" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false"><i class="fa fa-th-list"></i> List</a>
                      </li>
                    </ul>
                  </div>
                  <div class="select_option">
                    <form class="niceselect_option" action="#">
                      <select name="Filtre" id="short">
                        <option selected value="adresse">Filter par adresse</option>
                        <option value="gouvernorat">Filter par gouvernorat</option>
                        <option value="service">Filter par service</option>
                      </select>
                    </form>
                    <div class="page_amount">
                      <p>Affichage de 1–9 </p>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <!--shop toolbar end-->

            <!--shop tab product start-->
            <div class="tab-content">
              <div class="tab-pane list_view fade show active" id="list" role="tabpanel">
                <div class="product_list_item">
                  <div class="row align-items-center">
                    <div class="col-lg-4 col-md-4">
                      <div class="product_thumb">
                        <a href="product-details.html">
                          <img class="primary_img" src="assets/img/s_product/product3.jpg" alt="Product Image">
                        </a>

                      </div>
                    </div>
                    <div class="col-lg-8 col-md-8">
                      <div class="product_content">
                        <div class="product_name">
                          <h2><a routerLink="/profile">Gharbi Ahmed</a></h2>
                        </div>
                        <div class="product_ratting">
                          <ul>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                          </ul>
                        </div>

                        <div class="product_price">
                          <span class="current_price">Monastir</span>
                        </div>
                        <div class="product_desc">
                          <p> Médicament.</p>
                        </div>

                        <div class="product_action">
                          <ul>
                            <li><a class="button" routerLink="/profile" title="add to cart">Plus de détails</a></li>
                            <li><a class="button_link" href="#" title="Add to wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>

                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product_list_item">
                  <div class="row align-items-center">
                    <div class="col-lg-4 col-md-4">
                      <div class="product_thumb">
                        <a href="product-details.html">
                          <img class="primary_img" src="assets/img/s_product/product2.jpg" alt="Product Image">
                        </a>

                      </div>
                    </div>
                    <div class="col-lg-8 col-md-8">
                      <div class="product_content">
                        <div class="product_name">
                          <h2><a href="product-details.html">Ammar Sawssen</a></h2>
                        </div>
                        <div class="product_ratting">
                          <ul>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                          </ul>
                        </div>

                        <div class="product_price">
                          <span class="current_price">Jemmel</span>

                        </div>
                        <div class="product_desc">
                          <p>Alimentation.</p>
                        </div>

                        <div class="product_action">
                          <ul>
                            <li><a class="button" href="#" title="add to cart">Plus de détails</a></li>
                            <li><a class="button_link" href="#" title="Add to wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product_list_item">
                  <div class="row align-items-center">
                    <div class="col-lg-4 col-md-4">
                      <div class="product_thumb">
                        <a href="product-details.html">
                          <img class="primary_img" src="assets/img/s_product/pro.png" alt="Product Image">
                        </a>

                      </div>
                    </div>
                    <div class="col-lg-8 col-md-8">
                      <div class="product_content">
                        <div class="product_name">
                          <h2><a href="product-details.html">Garrab Nada</a></h2>
                        </div>
                        <div class="product_ratting">
                          <ul>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                          </ul>
                        </div>

                        <div class="product_price">
                          <span class="current_price">Jemmel</span>
                        </div>
                        <div class="product_desc">
                          <p>Education.</p>
                        </div>

                        <div class="product_action">
                          <ul>
                            <li><a class="button" href="#" title="add to cart">Plus de détails</a></li>
                            <li><a class="button_link" href="#" title="Add to wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product_list_item">
                  <div class="row align-items-center">
                    <div class="col-lg-4 col-md-4">
                      <div class="product_thumb">
                        <a href="product-details.html">
                          <img class="primary_img" src="assets/img/s_product/product1.jpg" alt="Product Image">
                        </a>

                      </div>
                    </div>
                    <div class="col-lg-8 col-md-8">
                      <div class="product_content">
                        <div class="product_name">
                          <h2><a href="product-details.html">Khaled Ben Ammar</a></h2>
                        </div>
                        <div class="product_ratting">
                          <ul>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                          </ul>
                        </div>

                        <div class="product_price">
                          <span class="current_price">Sousse</span>
                        </div>
                        <div class="product_desc">
                          <p>Urgent.</p>
                        </div>

                        <div class="product_action">
                          <ul>
                            <li><a class="button" href="#" title="add to cart">Plus de détails</a></li>
                            <li><a class="button_link" href="#" title="Add to wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

          </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="shop_toolbar t_bottom">
                  <div class="pagination">
                    <ul>
                      <li class="current">1</li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li class="next"><a href="#">next</a></li>
                      <li><a href="#">>></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!--shop  area end-->

      </div>

      <div class="map col-lg-3 col-md-4">
        <app-map></app-map>
      </div>
    </div>
  </div>
</section>
<!--slider section end-->
<div class="row">
  <div class="col-12">
    <div class="shop_toolbar t_bottom">
      <h3>Liste D'Associations</h3>
    </div>
  </div>
</div>
<div class="tab-content">
  <div class="tab-pane grid_view fade show active" id="large" role="tabpanel">
    <div class="row">
      <div class="col-lg-3 col-md-4">
        <div class="single_product">
          <div class="product_thumb">
            <a href="http://www.utss.org.tn/propos"><img src="assets/photo/photoAss1.jpg" alt=""></a>
            <div class="product_hover">
              <div class="product_action">
                <div class="action_button">
                  <ul>
                    <li><a class="add_to_cart" href="http://www.utss.org.tn/propos">Plus de détails</a></li>
                  </ul>
                </div></div>
            </div>
          </div>
          <div class="product_content">
            <h3><a href="http://www.utss.org.tn/propos">Union Tunisienne de Solidarité Sociale</a></h3>
            <p>Adresse : CITÉ ADMINISTRATIVE, LOT N° 7, CITÉ EL KHADHRA, Tunis</p>
            <p>Téléphone : 71 808 066</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="single_product">
          <div class="product_thumb">
            <a href="https://jamaity.org/association/association-tunisienne-de-prevention-positive/"><img src="assets/photo/photoAss2.jpg" alt=""></a>
            <div class="product_hover">
              <div class="product_action">
                <div class="action_button">
                  <ul>
                    <li><a class="add_to_cart" href="https://jamaity.org/association/association-tunisienne-de-prevention-positive/">Plus de détails</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="product_content">
            <h3><a href="https://jamaity.org/association/association-tunisienne-de-prevention-positive/">Association Tunisienne de Prévention Positive</a></h3>
            <p>Adresse : 9 rue 7443, Tunis</p>
            <p>Téléphone : 36 381 108</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="single_product">
          <div class="product_thumb">
            <a href="https://maison-migrations.tn/index.php/contact"><img src="assets/photo/photoAss3.png" alt=""></a>
            <div class="product_hover">
              <div class="product_action">
                <div class="action_button">
                  <ul>
                    <li><a class="add_to_cart" href="https://maison-migrations.tn/index.php/contact">Plus de détails</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="product_content">
            <h3><a href="https://maison-migrations.tn/index.php/contact">Maison du droit et des migrations</a></h3>
            <p>Adresse : Rue Khaled Ibn El Oualid, Tunis</p>
            <p>Téléphone : 71 287 484</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="single_product">
          <div class="product_thumb">
            <a href="product-details.html"><img src="assets/photo/photoAss4.jpg" alt=""></a>
            <div class="product_hover">
              <div class="product_action">
                <div class="action_button">
                  <ul>
                    <li><a class="add_to_cart"  href="https://www.facebook.com/LageDorMaisonDeRetraite/about/?ref=page_internal" >Plus de détails</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="product_content">
            <h3><a href="product-details.html">l'age d'or</a></h3>
            <p>Adresse : Rue Mohamed Belkahla, Ariana</p>
            <p>Téléphone : 94 548 157</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="shop_toolbar t_bottom">
          <div class="pagination">
            <ul>
              <li class="current">1</li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li class="next"><a href="#">next</a></li>
              <li><a href="#">>></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--deals section area start-->
<section class="deals_section">
  <div class="container">
    <div class="row">
      <div class="newsletter_area">
        <div class="newsletter_title">
          <h3>Envoyer Un Email</h3>
        </div>
        <div class="newsletter_desc">
          <form action="#">
            <input placeholder="Entrer votre Email..." type="text">
            <button type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>

          </form>
        </div>
      </div>
      <div class="follow_us">
        <h3>SUIVEZ NOUS</h3>
        <ul>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
          <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
          <li><a href="#"><i class="fa fa-dribbble"></i></a></li>

        </ul>
      </div>

    </div>
  </div>
</section>
<!--deals section area end-->
<!-- modal area start-->
<div class="modal fade" id="modal_box" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal_body">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12">
              <div class="modal_tab">
                <div class="tab-content product-details-large">
                  <div class="tab-pane fade show active" id="tab1" role="tabpanel" >
                    <div class="modal_tab_img">
                      <a href="#"><img src="assets/img/product/product4.jpg" alt=""></a>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="tab2" role="tabpanel">
                    <div class="modal_tab_img">
                      <a href="#"><img src="assets/img/product/product6.jpg" alt=""></a>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="tab3" role="tabpanel">
                    <div class="modal_tab_img">
                      <a href="#"><img src="assets/img/product/product7.jpg" alt=""></a>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="tab4" role="tabpanel">
                    <div class="modal_tab_img">
                      <a href="#"><img src="assets/img/product/product3.jpg" alt=""></a>
                    </div>
                  </div>
                </div>
                <div class="modal_tab_button">
                  <ul class="nav product_navactive owl-carousel" role="tablist">
                    <li >
                      <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="false"><img src="assets/img/s_product/product1.jpg" alt=""></a>
                    </li>
                    <li>
                      <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false"><img src="assets/img/s_product/product2.jpg" alt=""></a>
                    </li>
                    <li>
                      <a class="nav-link button_three" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false"><img src="assets/img/s_product/product9.jpg" alt=""></a>
                    </li>
                    <li>
                      <a class="nav-link" data-toggle="tab" href="#tab4" role="tab" aria-controls="tab4" aria-selected="false"><img src="assets/img/s_product/product10.jpg" alt=""></a>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12">
              <div class="modal_right">
                <div class="modal_title mb-10">
                  <h2>Handbag feugiat</h2>
                </div>
                <div class="modal_price mb-10">
                  <span class="new_price">$64.99</span>
                  <span class="old_price" >$78.99</span>
                </div>
                <div class="modal_content mb-10">
                  <p>Short-sleeved blouse with feminine draped sleeve detail.</p>
                </div>
                <div class="modal_size mb-15">
                  <h2>size</h2>
                  <ul>
                    <li><a href="#">s</a></li>
                    <li><a href="#">m</a></li>
                    <li><a href="#">l</a></li>
                    <li><a href="#">xl</a></li>
                    <li><a href="#">xxl</a></li>
                  </ul>
                </div>
                <div class="modal_add_to_cart mb-15">
                  <form action="#">
                    <input min="0" max="100" step="2" value="1" type="number">
                    <button type="submit">add to cart</button>
                  </form>
                </div>
                <div class="modal_description mb-15">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                </div>
                <div class="modal_social">
                  <h2>Share this product</h2>
                  <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- modal area start-->
<!--news letter popup start-->
<div class="newsletter_popup">
  <div class="popup_container">
    <div class="popup_close">
      <span>close</span>
    </div>
    <div class="popup_text">
      <h2>Subscribe to our Newsletter</h2>
      <p>Subscribe to the Pebona mailing list to receive updates on new arrivals, special offers and other discount information.</p>
      <form action="#">
        <input placeholder="Enter your email address" type="text">
        <button type="submit">Subscribe</button>
      </form>
    </div>
    <div class="popup_footer">
      <form action="#">
        <input id="check_newsletter" class="form_check" type="checkbox">
        <span class="checkmark"></span>
        <label class="form_check" for="check_newsletter">Don't show this popup again</label>
      </form>
    </div>
  </div>
</div>
