
<div class="breadcrumbs_area other_bread">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="breadcrumb_content">
          <ul>
            <li><a href="index.html">Acceuil</a></li>
            <li>/</li>
            <li>Consulter la liste</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="wishlist_area">
  <div class="container">
    <form action="#">
      <div class="row">
        <div class="col-12">
          <div class="table_desc wishlist">
            <div class="cart_page table-responsive">
              <table>
                <thead>
                <tr>
                  <th class="product_remove">Supprimer</th>
                  <th class="product_thumb">Photo</th>
                  <th class="product_name">Nom & Prénom</th>
                  <th class="product-price">Adresse</th>
                  <th class="product_quantity">Etat & Besoin</th>
                  <th class="product_total"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td class="product_remove"><a href="#">X</a></td>
                  <td class="product_thumb"><a href="#"><img src="assets/img/s_product/product3.jpg" alt=""></a></td>
                  <td class="product_name"><a href="#">Gharbi Ahmed</a></td>
                  <td class="product-price">Monastir</td>
                  <td class="product_quantity">Médicament</td>
                  <td class="product_total"><a href="#">Contacter</a></td>


                </tr>

                <tr>
                  <td class="product_remove"><a href="#">X</a></td>
                  <td class="product_thumb"><a href="#"><img src="assets/img/s_product/product2.jpg" alt=""></a></td>
                  <td class="product_name"><a href="#">Ammar Sawssen</a></td>
                  <td class="product-price">Jemmel</td>
                  <td class="product_quantity">Alimentation</td>
                  <td class="product_total"><a href="#">Contacter</a></td>


                </tr>
                <tr>
                  <td class="product_remove"><a href="#">X</a></td>
                  <td class="product_thumb"><a href="#"><img src="assets/img/s_product/pro.png" alt=""></a></td>
                  <td class="product_name"><a href="#">Garreb Nada</a></td>
                  <td class="product-price">Jemmel</td>
                  <td class="product_quantity">Education</td>
                  <td class="product_total"><a href="#">Contacter</a></td>

                </tr>
                <tr>
                  <td class="product_remove"><a href="#">X</a></td>
                  <td class="product_thumb"><a href="#"><img src="assets/img/s_product/product1.jpg" alt=""></a></td>
                  <td class="product_name"><a href="#">Khaled Ben Ammar</a></td>
                  <td class="product-price">Sousse</td>
                  <td class="product_quantity">Urgent</td>
                  <td class="product_total"><a href="#">Contacter</a></td>


                </tr>

                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>

    </form>
    <div class="row">
      <div class="col-12">
        <div class="wishlist_share">
          <h4>Partager sur :</h4>
          <ul>
            <li><a href="#"><i class="fa fa-rss"></i></a></li>
            <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
            <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
