<div class="breadcrumbs_area other_bread">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="breadcrumb_content">
          <ul>
            <li><a href="/home">Acceuil</a></li>
            <li>/</li>
            <li>Aide </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="about_section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="overview_img">
          <a href="#"><img src="assets/img/s.png" alt=""></a>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="about_content">
          <h3>Spread Help</h3>
          <p>En confinement et face à l'épidémie, il n'est pas toujours simple de savoir comment donner du soutien ou en recevoir, en fonction de nos capacités ou de nos besoins. Nous avons référencé sur cette plateforme de nombreuses initiatives citoyennes, principalement à vocation nationale.</p>
          <p>La crise sanitaire que nous traversons est inédite et d’une ampleur exceptionnelle. Elle éprouve la résilience de notre société et met en lumière l’importance des initiatives citoyennes et locales pour organiser de nouvelles formes concrètes de solidarité, dans cette situation nouvelle de pandémie, de confinement et de répercussions économiques.</p>
          <p>  Nous avons choisi de contribuer  en mettant à votre disposition  notre plateforme de nombreuses initiatives et ressources, pour aider chacun·e à bénéficier de la solidarité ou à y contribuer à sa mesure.</p>
          <p>Notre plateforme se fonde sur la solidarité. Cette volonté, issue de l’élan et des idéaux de la Résistance,  qui appelle l’aménagement d’une vaste organisation nationale d’entraide obligatoire qui ne peut atteindre sa pleine efficacité que si elle présente un caractère de très grande généralité à la fois quant aux personnes qu’elle englobe et quant aux risques qu’elle couvre.</p>
        </div>
      </div>
    </div>
  </div>
</div>





<div class="contact_area">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="contact_message content">
          <h3>Nous contacter</h3>
          <ul>
            <li><i class="fa fa-fax"></i>  Address :Tunisie - Gouvernorat  Monastir - ISIMM</li>
            <li><i class="fa fa-envelope-o"></i> <a href="#">info@isimm.com</a></li>
            <li><i class="fa fa-phone"></i> + (216)73 464 167</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="contact_message form">
          <h3>Rester Informer</h3>
          <form id="contact-form" method="POST"  action="http://demo.devitems.com/m4u-v2/m4u/assets/mail.php">
            <p>
              <label> Nom (obligatoire)</label>
              <input name="name" placeholder="Nom *" type="text">
            </p>
            <p>
              <label>  Votre Email (obligatoire)</label>
              <input name="email" placeholder="Email *" type="email">
            </p>
            <p>
              <label>  Sujet</label>
              <input name="subject" placeholder="Sujet *" type="text">
            </p>
            <div class="contact_textarea">
              <label> Votre message</label>
              <textarea placeholder="Message *" name="message"  class="form-control2" ></textarea>
            </div>
            <button type="submit"> Envoyer</button>
            <p class="form-messege"></p>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
