
<!--testimonial section area  start-->
<section class="testimonial_section">
  <div class="testimonial_inner">
  </div>
</section>
<!--testimonial section area  end-->
<!--footer area start-->
<footer class="footer_widgets_area">
  <div class="container">
    <div class="footer_top">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="widgets_container">
            <div class="footer_title">
              <h3>Nous contacter</h3>
            </div>
            <div class="footer_contact">
              <p>
                <i class="fa fa-map-marker"></i>
                <span>Addresss: Tunisie - Gouvernorat  Monastir - ISIMM</span>
              </p>
              <p>
                <i class="fa fa-envelope"></i>
                <span>Email: info@isimm.com</span>
              </p>
              <p>
                <i class="fa fa-phone"></i>
                <span>Téléphone:+ (216)73 464 167 </span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-4">
          <div class="widgets_container">
            <div class="footer_title">
              <h3>Mon compte</h3>
            </div>
            <div class="footer_menu">
              <ul>
                <li><a routerLink="/login">Authentification</a></li>
                <li><a href="/login">Inscritpion</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-4">
          <div class="widgets_container">
            <div class="footer_title">
              <h3>Information</h3>
            </div>
            <div class="footer_menu">
              <ul>
                <li><a href="#">Notre blog</a></li>
                <li><a routerLink="/contact">Rester Informer</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--footer area end-->
