<!--breadcrumbs area start-->
<div class="breadcrumbs_area other_bread">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="breadcrumb_content">
          <ul>
            <li><a href="index.html">Acceuil</a></li>
            <li>/</li>
            <li>Profil</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!--breadcrumbs area end-->

<!--blog body area start-->
<div class="blog_area blog_details">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-12">
        <!--blog sidebar start-->
        <aside class="blog_sidebar">


          <!--recent post start-->
          <div class="sidebar_widget recent_post">
            <h3 class="widget_title">Publications Récentes</h3>
            <div class="sidebar_post">
              <div class="post_img">
                <a href="blog-details.html"><img src="assets/img/s_product/product2.jpg" alt=""></a>
              </div>
              <div class="post_text">
                <h3><a href="blog-details.html">Ammar Sawssen</a></h3>
                <span>Juin 15, 2018</span>
              </div>

            </div>
            <div class="sidebar_post">
              <div class="post_img">
                <a href="blog-details.html"><img src="assets/img/s_product/pro.png" alt=""></a>
              </div>
              <div class="post_text">
                <h3><a href="blog-details.html">Garrab Nada</a></h3>
                <span>Mai 3, 2018</span>
              </div>

            </div>
            <div class="sidebar_post">
              <div class="post_img">
                <a href="blog-details.html"><img src="assets/img/s_product/product1.jpg" alt=""></a>
              </div>
              <div class="post_text">
                <h3><a href="blog-details.html">Khaled Ben Ammar</a></h3>
                <span>Mars 20, 2018</span>
              </div>

            </div>
          </div>
          <!--recent post end-->

        </aside>

        <!--blog sidebar start-->
      </div>
      <div class="col-lg-9 col-md-12">
        <!--blog grid area start-->
        <div class="blog_wrapper">
          <div class="blog__thumb">
            <a href="#"><img src="assets/img/s_product/product3.jpg" alt=""></a>
          </div>
          <div class="blog_info_wrapper">
            <div class="blog_info_inner">
              <div class="post__date">
                <span class="day">15</span>
                <span class="month">Février</span>
              </div>
              <div class="post__info">
                <div class="post_header">
                  <h3> <span>Publié par : </span>
                    <span><a href="#">Gharbi Ahmed </a></span>
                    <span><a href="#">/ J'ai besoin de médicaments </a></span></h3>
                </div>
                <div class="post_content">
                  <div class="post_meta">
                    <div class="col-lg-9 col-md-12">
                      <div><span>Adresse : Cornich - 5000 ,Monestir  </span></div>
                      <div><span>Numéro de téléphone : +216 53 678 987  </span></div>
                      <div><span>Email : Gharbi.ahmed@gmail.com  </span></div>
                    </div>

                  </div>

                  <blockquote>
                    <h4>Description : </h4>
                    <p>Je suis Ahmed Gharbi de Monastir, j'annonce un vieil homme qui n'avait pas de moyens de subsistance et avait un besoin urgent de traitement. Toute personne intéressée par la personne peut me contacter pour plus d'informations..</p>
                  </blockquote>
            </div>
            <div class="comments_form">
              <h3>Laisser une réponse </h3>
              <p>Votre adresse email ne sera pas publiée.</p>
              <form action="#">
                <div class="row">
                  <div class="col-12">
                    <label for="review_comment">Commentaire </label>
                    <textarea name="comment" id="review_comment" ></textarea>
                  </div>
                  <div class="col-lg-4 col-md-4">
                    <label for="author">Nom</label>
                    <input id="author"  type="text">

                  </div>
                  <div class="col-lg-4 col-md-4">
                    <label for="email">Email </label>
                    <input id="email"  type="text">
                  </div>
                </div>
                <button class="button" type="submit">Poster un commentaire</button>
              </form>
            </div>
          </div>
        </div>
        <!--blog grid area start-->
      </div>
    </div>
  </div>
    </div></div></div>
