<div class="breadcrumbs_area other_bread">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="breadcrumb_content">
          <ul>
            <li><a href=" ">Acceuil</a></li>
            <li>/</li>
            <li>Association</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!--breadcrumbs area end-->

<!--blog body area start-->
<div class="blog_area blog_page">
  <div class="container">
    <div class="row">
    <div class="row">
      <div class="col-lg-9 col-md-12">
        <!--blog grid area start-->
        <div class="blog_grid_area">
          <div class="blog_grid">
            <div class="blog_thumb">
              <a href="http://www.utss.org.tn/propos"><img src="assets/photo/photoAss1.jpg" alt=""></a>
            </div>
            <div class="blog_content">
              <div class="post_date">
                <span class="day">1</span>
                <span class="month">/ Mai 2020</span>
              </div>
              <h3 class="post_title"><a href="http://www.utss.org.tn/propos">Union Tunisienne de Solidarité Sociale</a></h3>
              <p class="post_desc">L'Union Tunisienne de Solidarité Sociale "UTSS" est une organisation non gouvernementale tunisienne œuvrant pour le développement du concept de solidarité et d'entraide et réalisant des programmes sociaux, d'aide de secours et d'auto-développement au profit des démunis</p>
              <a class="read_more" href="http://www.utss.org.tn/propos">Plus de détails</a>
              <div class="post_meta">
              </div>
            </div>
          </div>
          <div class="blog_grid">
            <div class="blog_thumb">
              <a href="https://jamaity.org/association/association-tunisienne-de-prevention-positive/"><img src="assets/photo/photoAss2.jpg" alt=""></a>
            </div>
            <div class="blog_content">
              <div class="post_date">
                <span class="day">10</span>
                <span class="month">/ Mai / 2020</span>
              </div>
              <h3 class="post_title"><a href="https://jamaity.org/association/association-tunisienne-de-prevention-positive/">Association Tunisienne de Prévention Positive</a></h3>
              <p class="post_desc">L’ATP est une molécule qui fournit l’énergie aux cellules de l’organisme. C’est un donneur, réservoir et transporteur d’énergie </p>
              <a class="read_more" href="https://jamaity.org/association/association-tunisienne-de-prevention-positive/">Plus de détails</a>
              <div class="post_meta">

              </div>
            </div>
          </div>
          <div class="blog_grid">
            <div class="blog_thumb">
              <a href="https://maison-migrations.tn/index.php/contact"><img src="assets/photo/photoAss3.jpg" alt=""></a>
            </div>
            <div class="blog_content">
              <div class="post_date">
                <span class="day">11</span>
                <span class="month">/ Mai / 2020</span>
              </div>
              <h3 class="post_title"><a href="https://maison-migrations.tn/index.php/contact">Maison Du Droit Et Des Migrations</a></h3>
              <p class="post_desc">
                La maison tunisienne du droit et des migrations entend développer les capacités d’intervention opérationnelle et de plaidoyer de la société civile tunisienne dans le domaine de la défense des droits des migrants, des réfugiés et enfants non accompagnés ainsi que de participer à l’émergence d’un débat public démocratique, éclairé et apaisé sur les questions migratoires en Tunisie.
              </p>
              <a class="read_more" href="https://maison-migrations.tn/index.php/contact">Plus de détails</a>
              <div class="post_meta">
              </div>
            </div>
          </div>
          <div class="blog_grid">
            <div class="blog_thumb">
              <a href="https://www.facebook.com/LageDorMaisonDeRetraite/about/?ref=page_internal" ><img src="assets/photo/photoAss4.jpg" alt=""></a>
            </div>
            <div class="blog_content">
              <div class="post_date">
                <span class="day">12</span>
                <span class="month">/ Mai / 2020</span>
              </div>
              <h3 class="post_title"><a href="https://www.facebook.com/LageDorMaisonDeRetraite/about/?ref=page_internal" >L'age D'or</a></h3>
              <p class="post_desc">
                L'âge d'or est une maison de retraite et de convalescence avec des soins médicalisés dans un cadre à la fois familial et chaleureux .</p>
              <a class="read_more" href="https://www.facebook.com/LageDorMaisonDeRetraite/about/?ref=page_internal">Plus de détails</a>
              <div class="post_meta">
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">

      <div class="shop_toolbar t_bottom">
        <div class="pagination">
          <ul>
            <li class="current">1</li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li class="next"><a href="#">next</a></li>
            <li><a href="#">>></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
