
<!--breadcrumbs area start-->
<div class="breadcrumbs_area other_bread">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="breadcrumb_content">
          <ul>
            <li><a href=" ">Acceuil</a></li>
            <li>/</li>
            <li>Candidature Spontanée</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!--breadcrumbs area end-->

<!--blog body area start-->
<div class="blog_area blog_page">
  <div class="container">
    <div class="row">

      <div class="col-lg-9 col-md-12">
        <!--blog grid area start-->
        <div class="blog_grid_area">
          <div class="blog_grid">
            <div class="blog_thumb">
              <a href="blog-details.html"><img src="assets/photo/photo4.jpg" alt=""></a>
            </div>
            <div class="blog_content">
              <div class="post_date">
                <span class="day">8</span>
                <span class="month">/ Mai / 2020</span>
              </div>
              <h3 class="post_title"><a href="blog-details.html">Ferdawes Bouraoi</a></h3>
              <p class="post_desc">Je suis une femme d'affaires et je suis prête à aider chaque personne dans le besoin</p>
              <a class="read_more" routerLink="/profile">Lire la suite</a>
              <div class="post_meta">
              </div>
            </div>
          </div>
          <div class="blog_grid">
            <div class="blog_thumb">
              <a href="blog-details.html"><img src="assets/photo/photo2.jpg" alt=""></a>
            </div>
            <div class="blog_content">
              <div class="post_date">
                <span class="day">14</span>
                <span class="month">/ Mai / 2020</span>
              </div>
              <h3 class="post_title"><a href="blog-details.html">Aymen Lasswed</a></h3>
              <p class="post_desc">Je suis un homme d'affaires et je suis prêt à aider tous ceux qui en ont besoin</p>
              <a class="read_more" href="blog-details.html">Lire la suite</a>
              <div class="post_meta">

              </div>
            </div>
          </div>
        </div>
        <!--blog grid area start-->
      </div>
    </div>
  </div>
</div>
<!--blog section area end-->

<!--blog section area end-->
<div class="container">
  <div class="row">
    <div class="col-12">
      <!--blog toolbar start-->
      <div class="shop_toolbar t_bottom">
        <div class="pagination">
          <ul>
            <li class="current">1</li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li class="next"><a href="#">next</a></li>
            <li><a href="#">>></a></li>
          </ul>
        </div>
      </div>
      <!--blog toolbar end-->
    </div>
  </div>
</div>


