<!--breadcrumbs area start-->
<div class="breadcrumbs_area other_bread">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="breadcrumb_content">
          <ul>
            <li><a href="index.html">Acceuil</a></li>
            <li>/</li>
            <li>Mon Profil</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!--breadcrumbs area end-->

<!--blog body area start-->
<div class="blog_area blog_details">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-12">
        <!--blog sidebar start-->
        <aside class="blog_sidebar">


          <!--recent post start-->
          <div class="sidebar_widget recent_post">
            <h3 class="widget_title">Liste D'associations Participantes</h3>
            <div class="sidebar_post">
              <div class="post_img">
                <a href="blog-details.html"><img src="assets/photo/photoAss1.jpg" alt=""></a>
              </div>
              <div class="post_text">
                <h3><a href="blog-details.html">Union Tunisienne de Solidarité Sociale</a></h3>
                <span>Mai 1, 2020</span>
              </div>

            </div>
            <div class="sidebar_post">
              <div class="post_img">
                <a href="blog-details.html"><img src="assets/photo/photoAss2.jpg" alt=""></a>
              </div>
              <div class="post_text">
                <h3><a href="blog-details.html">Association Tunisienne de Prévention Positive</a></h3>
                <span>Mai 10, 2020</span>
              </div>

            </div>
            <div class="sidebar_post">
              <div class="post_img">
                <a href="blog-details.html"><img src="assets/photo/photoAss3.jpg" alt=""></a>
              </div>
              <div class="post_text">
                <h3><a href="blog-details.html">Maison Du Droit Et Des Migrations</a></h3>
                <span>Mars 20, 2018</span>
              </div>

            </div>
          </div>
          <!--recent post end-->

        </aside>

        <!--blog sidebar start-->
      </div>
      <div class="col-lg-9 col-md-12">
        <!--blog grid area start-->
        <div class="blog_wrapper">
          <div class="blog__thumb">
            <a href="#"><img src="assets/img/s_product/product3.jpg" alt=""></a>
          </div>
          <div class="blog_info_wrapper">
            <div class="blog_info_inner">
              <div class="post__date">
                <span class="day">15</span>
                <span class="month">Février</span>
              </div>
              <div class="post__info">
                <div class="post_header">
                  <h3> <span>Publié par : </span>
                    <span><a href="#">Gharbi Ahmed </a></span>
                    <span><a href="#">/ J'ai besoin de médicaments </a></span></h3>
                </div>
                <div class="post_content">
                  <div class="post_meta">
                    <div class="col-lg-9 col-md-12">
                      <div><span>Adresse : Cornich - 5000 ,Monestir  </span></div>
                      <div><span>Numéro de téléphone : +216 53 678 987  </span></div>
                      <div><span>Email : Gharbi.ahmed@gmail.com  </span></div>
                    </div>

                  </div>

                  <blockquote>
                    <h4>Description : </h4>
                    <p>Je suis Ahmed Gharbi de Monastir, j'annonce un vieil homme qui n'avait pas de moyens de subsistance et avait un besoin urgent de traitement. Toute personne intéressée par la personne peut me contacter pour plus d'informations..</p>
                  </blockquote>
                  <div class="checkout_form">
                    <div class="row">
                      <div class="col-lg-6 col-md-6">
                        <form action="#">

                          <div class="row">


                            <div class="col-12 mb-20">

                              <input id="address" type="checkbox" data-target="createp_account" />
                              <label class="righ_0" for="address" data-toggle="collapse" data-target="#collapsetwo" aria-controls="collapseOne">
                                Modifier votre profil</label>

                              <div id="collapsetwo" class="collapse one" data-parent="#accordion">
                                <div class="row">

                                  <div class="col-lg-6 mb-20">
                                    <label>Nom <span>*</span></label>
                                    <input type="text">
                                  </div>
                                  <div class="col-lg-6 mb-20">
                                    <label>Prénom  <span>*</span></label>
                                    <input type="text">
                                  </div>
                                  <div class="col-12 mb-20">
                                    <label>Pays</label>
                                    <input type="text">
                                  </div>
                                  <div class="col-12 mb-20">
                                    <label> Email   <span>*</span></label>
                                    <input type="text">
                                  </div>

                                  <div class="col-12 mb-20">
                                    <label>Adresse  <span>*</span></label>
                                    <input placeholder="Numéro de maison et nom de rue" type="text">
                                  </div>
                                  <div class="col-12 mb-20">
                                    <input placeholder="Appartement, suite, etc ." type="text">
                                  </div>
                                  <div class="col-12 mb-20">
                                    <label>Ville <span>*</span></label>
                                    <input  type="text">
                                  </div>
                                  <div class="col-12 mb-20">
                                    <label>Etat <span>*</span></label>
                                    <input type="text">
                                  </div>
                                  <div class="col-lg-6 mb-20">
                                    <label>Téléphone<span>*</span></label>
                                    <input type="text">

                                  </div>
                                  <div class="col-lg-6 mb-20">
                                    <label for="country">Gouvernorat <span>*</span></label>
                                    <select class="niceselect_option" name="cuntry" id="country">
                                      <option value="2">Ariana</option>
                                      <option value="3">Béja</option>
                                      <option value="4">Ben Arous</option>
                                      <option value="5">Bizerte</option>
                                      <option value="6">Gabès</option>
                                      <option value="7">Gafsa</option>
                                      <option value="8">Jendouba</option>
                                      <option value="9">Kairouan</option>
                                      <option value="10">Kasserine</option>
                                      <option value="11">Kébili</option>
                                      <option value="12">Le Kef</option>
                                      <option value="13">Mahdia</option>
                                      <option value="14">La Manouba</option>
                                      <option value="15">Médenine</option>
                                      <option value="16">Monastir</option>
                                      <option value="17">Nabeul</option>
                                      <option value="18">Sfax</option>
                                      <option value="19">Sidi Bouzid</option>
                                      <option value="20">Siliana</option>
                                      <option value="21">Sousse</option>
                                      <option value="22">Tataouine</option>
                                      <option value="23">Tozeur</option>
                                      <option value="24">Tunis</option>
                                      <option value="25">Zaghouan</option>





                                    </select>

                                  </div>
                                  <div class="col-12">
                                    <div class="order-notes">
                                      <label for="order_note">Description</label>
                                      <textarea id="order_note" placeholder="Description"></textarea>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </div>
                        </form>
                      </div>
                    </div>


                  </div>
                </div>
                <div class="comments_form">
                  <h3>Laisser une réponse </h3>
                  <p>Votre adresse email ne sera pas publiée.</p>
                  <form action="#">
                    <div class="row">
                      <div class="col-12">
                        <label for="review_comment">Commentaire </label>
                        <textarea name="comment" id="review_comment" ></textarea>
                      </div>
                      <div class="col-lg-4 col-md-4">
                        <label for="author">Nom</label>
                        <input id="author"  type="text">

                      </div>
                      <div class="col-lg-4 col-md-4">
                        <label for="email">Email </label>
                        <input id="email"  type="text">
                      </div>
                    </div>
                    <button class="button" type="submit">Poster un commentaire</button>
                  </form>
                </div>
              </div>
            </div>
            <!--blog grid area start-->
          </div>
        </div>
      </div>
    </div></div></div>
