<section class="slider_section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-12">
        <h3 class="divRight">NEWS</h3>
        <hr width="75%" size="3" color="black">
        <div class="BLOCLEFT">

        </div>
      </div>
      <div class="col-lg-6 col-md-8">

        <h3 class="divRight">À LA UNE</h3>
        <hr width="75%" size="4" color="black">
        <div class="slider_area owl-carousel">
          <div class="single_slider slider_one">

          </div>
          <div class="single_slider slider_two">

          </div>
          <div class="single_slider slider_three">

          </div>
        </div>

      </div>
      <div class="col-lg-3 col-md-4">
        <h2 class="divRight">TOP 48H</h2>
        <hr width="75%" size="3" color="black">
        <img src="./src/assets/img/Act48h.PNG" alt="">
        <div class="product_thumb">
          <a ><img src="./src/assets/img/Act48h.PNG" alt=""></a>
        </div>
        <div class="product_content">
          <a> Tunisie – Les médecins interpellent Elyes Fakhfakh</a>
        </div>
      </div>
    </div>
  </div>

</section>


<section class="product_section">
  <div class="container">
    <div class="row">
      <div class="product_area product_column4 owl-carousel">
      </div>
    </div>
  </div>
</section>

