<header class="header_area">

    <div class="header_inner">
      <!--header top css here-->
      <div class="header_top">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-3">
              <div class="language_select">
                <ul>
                  <li class="language"><a href="#">Français <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown_language">
                      <li><a href="#">Arabe</a></li>
                      <li><a href="#">English</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-9 col-md-9">
              <div class="header_top_menu text-right">
                <ul>
                  <li><a routerLink="/login">Authentification</a></li>
                  <li><a routerLink="/profile">Mon Profile </a><i class="fa fa-user-circle-o" aria-hidden="true"></i></li>

                </ul>
              </div>

            </div>
          </div>
        </div>
      </div>
      <!--header top css end-->
      <!--header middel css here-->
      <div class="header_middel">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-3 col-md-3">
              <div class="logo">
                <a href="#"><img src="assets/img/logo/logo1.png" alt=""></a>
              </div>
            </div>
            <div class="col-lg-7 col-md-6">
              <div class="header_search">
                <form action="#">
                  <div class="select_categorie">
                    <span class="categorie_toggle">Solidarité</span>


                  </div>
                  <input placeholder="Rechercher ..." type="text">
                  <button type="submit"><i class="fa fa-search"></i></button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--header middel css here-->
    </div>



  <!--header bottom css here-->
  <div class="header_bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-7 col-md-12">
          <div class="bottom_left">
            <div class="home_icone">
              <a href="#"><i class="fa fa-home"></i></a>
            </div>
            <div class="menu_inner">
              <div class="main_menu d-none d-lg-block">
                <ul>

                  <li><a routerLink="/actualite">Actualité</a></li>

                  <li><a routerLink="/portailcitoyens">Mon Portail Citoyen <i class="fa fa-angle-down"></i></a>
                    <ul class="mega_menu">
                      <li><a>Association</a>
                        <ul>
                          <li><a routerLink="/login"> Inscription </a></li>
                          <li><a routerLink="/association"> Consulter </a></li>
                        </ul>
                      </li>
                      <li><a>Candidature Spontanée</a>
                        <ul>
                          <li><a routerLink="/login"> Inscription </a></li>
                          <li><a routerLink="/candidature">Consulter </a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>

                  <li><a href="blog.html">Demande d'aide <i class="fa fa-angle-down"></i></a>
                    <ul class="sub_menu">
                      <li><a routerLink="/publier">Publier </a></li>
                      <li><a routerLink="/login"> Inscription </a></li>
                      <li><a routerLink="/consulte-demande">Consulter la liste </a></li>

                    </ul>

                  <li><a routerLink="/aide">Aide </a>

                </ul>
              </div>
              <!--bloc a supprimer-->
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-12">
          <div class="contact_link text-right">
            <ul>
              <li><i class="fa  fa-phone"></i><strong>Téléphone : </strong> +(216) 73.464.167 </li>
              <li>/</li>
              <li><strong><i class="fa fa-envelope"></i> Email : </strong><a href="#"> info@isimm.com</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--header bottom css here-->
</header>
