
<div class="breadcrumbs_area other_bread">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="breadcrumb_content">
          <ul>
            <li><a href="index.html">Acceuil</a></li>
            <li>/</li>
            <li>Publier</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!--breadcrumbs area end-->


<!--Checkout page section-->
<div class="Checkout_section">
  <div class="container">
    <div class="checkout_form">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <form action="#">
            <h3>Détails De La Demande</h3>
            <div class="row">

              <div class="col-lg-6 mb-20">
                <label>Nom <span>*</span></label>
                <input type="text">
              </div>
              <div class="col-lg-6 mb-20">
                <label>Prénom  <span>*</span></label>
                <input type="text">
              </div>
              <div class="col-12 mb-20">
                <label>Pays</label>
                <input type="text">
              </div>
              <div class="col-12 mb-20">
                <label for="country">Gouvernorat <span>*</span></label>
                <select class="niceselect_option" name="cuntry" id="country">
                  <option value="2">Ariana</option>
                  <option value="3">Béja</option>
                  <option value="4">Ben Arous</option>
                  <option value="5">Bizerte</option>
                  <option value="6">Gabès</option>
                  <option value="7">Gafsa</option>
                  <option value="8">Jendouba</option>
                  <option value="9">Kairouan</option>
                  <option value="10">Kasserine</option>
                  <option value="11">Kébili</option>
                  <option value="12">Le Kef</option>
                  <option value="13">Mahdia</option>
                  <option value="14">La Manouba</option>
                  <option value="15">Médenine</option>
                  <option value="16">Monastir</option>
                  <option value="17">Nabeul</option>
                  <option value="18">Sfax</option>
                  <option value="19">Sidi Bouzid</option>
                  <option value="20">Siliana</option>
                  <option value="21">Sousse</option>
                  <option value="22">Tataouine</option>
                  <option value="23">Tozeur</option>
                  <option value="24">Tunis</option>
                  <option value="25">Zaghouan</option>





                </select>
              </div>

              <div class="col-12 mb-20">
                <label>Adresse  <span>*</span></label>
                <input placeholder="Numéro de maison et nom de rue" type="text">
              </div>
              <div class="col-12 mb-20">
                <input placeholder="Appartement, suite, etc ." type="text">
              </div>
              <div class="col-12 mb-20">
                <label>Ville <span>*</span></label>
                <input  type="text">
              </div>
              <div class="col-12 mb-20">
                <label>Etat <span>*</span></label>
                <input type="text">
              </div>
              <div class="col-lg-6 mb-20">
                <label>Téléphone<span>*</span></label>
                <input type="text">

              </div>
              <div class="col-lg-6 mb-20">
                <label> Email   <span>*</span></label>
                <input type="text">

              </div>
              <div class="col-12 mb-20">
                <input id="account" type="checkbox" data-target="createp_account" />
                <label for="account" data-toggle="collapse" data-target="#collapseOne" aria-controls="collapseOne">Créer un compte?</label>

                <div id="collapseOne" class="collapse one" data-parent="#accordion">
                  <div class="card-body1">
                    <label> Mot de passe du compte  <span>*</span></label>
                    <input placeholder="Mot de passe" type="password">
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="order-notes">
                  <label for="order_note">Notes</label>
                  <textarea id="order_note" placeholder="Notes sur votre publicité"></textarea>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-lg-6 col-md-6">
          <form action="#">
            <h3>Votre Demande</h3>
            <div class="order_table table-responsive">
              <table>
                <thead>
                <tr>
                  <th>Nom & Prénom</th>
                  <th>Date De Création</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td> Gharbi Ahmed <strong> </strong></td>
                  <td> 01/03/2020</td>
                </tr>
                <tr>
                  <td> Ammar Sawssen <strong> </strong></td>
                  <td> 15/03/2020</td>
                </tr>
                <tr>
                  <td> Garreb Nada	<strong> </strong></td>
                  <td> 25/03/2020</td>
                </tr>
                <tr>
                  <td> Mahmoudi Ramzi	 <strong> </strong></td>
                  <td> 02/04/2020</td>
                </tr>
                </tbody>
                <tfoot>
                </tfoot>
              </table>
            </div>
            <div class="payment_method">
              <div class="panel-default">

                <div id="method" class="collapse one" data-parent="#accordion">
                  <div class="card-body1">
                    <p>Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                  </div>
                </div>
              </div>
              <div class="panel-default">

                <div id="collapsedefult" class="collapse one" data-parent="#accordion">
                  <div class="card-body1">
                    <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.</p>
                  </div>
                </div>
              </div>
              <div class="order_button">
                <button routerLink="/consulte-demande" type="submit">Consulter La Liste</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="user-actions">

                <button type="submit">Envoyer</button>

        </div>
      </div>
    </div>
  </div>
</div>
<!--Checkout page section end-->
